
<div class="container" style="background-color: #000;">
    <div class="action-buttons">
        <button type="button" (click)="onLeaveRoom()"  class="exit-button">Exit</button>
        <button type="button" (click)="onScreenShare()" class="share-button">Share Screen</button>
    </div>
    <div class="video-grid" id="video-grid">
        <div  class="">
            <h5 class="div-center" style="color:blue;"> {{user.name}}</h5>
            <div class="div-center">
                <video class="single-video" #localStream style="width:300px;" autoplay ></video>
            </div>
        </div>
      </div>
      <div class="chatbox">
        <div class="chats">
            <ng-container *ngFor="let message of messages">
                <div class="user-name" [ngStyle]="getNameStyle(message.from_user_id)">{{message.from_user_id == currentUserId? 'You': message.from_user_name}}</div>
                <div class="chat" [ngStyle]="getStyle(message.from_user_id)" >
                    <div class="message">{{message.message}}</div>
                </div>
            </ng-container>
        </div>
        <div class="input-box">
            <input type="text" [(ngModel)]="message" (keyup.enter)="onSendMessage()"  >
            <button class="send-button" (click)="onSendMessage()" >send</button>
        </div>
      </div>
</div>
